<settings
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
		xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<profiles>
	<profile>
	  <repositories>

		<repository>
		  <id>liferay-public-repository</id>
		  <name>Liferay Repository</name>
		  <url>http://repository.liferay.com/nexus/content/groups/public/</url>
		  <releases>
			<updatePolicy>never</updatePolicy>
		  </releases>
		  <snapshots>
			<enabled>true</enabled>
		  </snapshots>
		</repository>

	  </repositories>

	  <id>arquillian-liferay-maven-ext</id>
	</profile>
</profiles>
<activeProfiles>
	<activeProfile>arquillian-liferay-maven-ext</activeProfile>
</activeProfiles>
</settings>